<div class="flex_user_lists">

  <div class="flex_user_list">
    <h2 class="sub-header">Présents</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nom :</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user_list">
          <td #userName>{{user}}</td>
          <td> <a class="glyphicon glyphicon-trash" (click)="delete(user)"></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>